---
import Navbar from "@components/shared/Navbar.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-3xl">Protected Page</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos veritatis,
    consequuntur voluptas earum rem illum maxime harum, eos dolore quas
    voluptate error? Hic, quas maiores? Architecto odio dolores incidunt. Nemo!
  </p>
</MainLayout>
